 body {
  margin: 0;
  padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 600px;
	 height: 300px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #PIC 
{ 
	 left: 10px; 
	 top: -77px; 
	 position: absolute; 
	 width: 641px;
	 height: 446px;
	 z-index:1;
} 

 #Rectangle1 
{ 
	 left: -2px; 
	 top: -2px; 
	 position: absolute; 
	 width: 604px;
	 height: 304px;
	 z-index:2;
} 

 #Skype 
{ 
	 left: 220px; 
	 top: 254px; 
	 position: absolute; 
	 width: 24px;
	 height: 25px;
	 z-index:3;
} 

 #LinkedIn 
{ 
	 left: 227px; 
	 top: 218px; 
	 position: absolute; 
	 width: 23px;
	 height: 24px;
	 z-index:4;
} 

 #Facebook 
{ 
	 left: 226px; 
	 top: 183px; 
	 position: absolute; 
	 width: 24px;
	 height: 24px;
	 z-index:5;
} 

 #Instagram 
{ 
	 left: 216px; 
	 top: 148px; 
	 position: absolute; 
	 width: 24px;
	 height: 24px;
	 z-index:6;
} 

 #Whatsapp 
{ 
	 left: 202px; 
	 top: 113px; 
	 position: absolute; 
	 width: 24px;
	 height: 24px;
	 z-index:7;
} 

 #Address 
{ 
	 left: 289px; 
	 top: 252px; 
	 position: absolute; 
	 width: 286px;
	 height: 36px;
	 z-index:8;
} 

 #Email 
{ 
	 left: 289px; 
	 top: 220px; 
	 position: absolute; 
	 width: 161px;
	 height: 20px;
	 z-index:9;
} 

 #fax 
{ 
	 left: 288px; 
	 top: 184px; 
	 position: absolute; 
	 width: 143px;
	 height: 22px;
	 z-index:10;
} 

 #Mobile 
{ 
	 left: 289px; 
	 top: 149px; 
	 position: absolute; 
	 width: 144px;
	 height: 20px;
	 z-index:11;
} 

 #call 
{ 
	 left: 289px; 
	 top: 114px; 
	 position: absolute; 
	 width: 144px;
	 height: 20px;
	 z-index:12;
} 
